<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" style="
    width: 100%;
    font-family: helvetica, 'helvetica neue', arial, verdana, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
  ">

<head>
    <title>Contact Request</title>
</head>

<body>

    <h3>Hi <%= ideator_name %></h3>
    <br />
    <p>User <%= name %> is interested in your in your idea. <%= name %> has requested to connect with you.</p>
   
    <p>Please find the details of the user below:</p>
    <p>Name: <%= name %></p>
    <p>Email ID: <%= email %></p>
    <p>Message: <%= message %></p>
    
</body>

</html>